* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
.all_cards_profile {
    height: calc(100vh - 228px);
}
.center_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
}
.profile-container{
    padding-top: 60px;
}
.luxury-profile {
    width: 100%;
    display: flex;
    padding: 0 25px 0 25px;
    gap: 15px;
}
.luxury-header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 50px 0 0;
}

.luxury-avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border: 2px solid #377b41;
}

.luxury-user-info h2 {
    font-size: 22px;
    color: #333;
    font-weight: 700;
}
.luxury-section{
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
}
.luxury-section h3 {
    color: #377b41;
    font-weight: 700;
    padding: 5px;
}
hr{
    color: #377b41;
}
.div_info_user {
    padding: 5px;
    display: flex;
    flex-direction: column;
    line-height: 48px;
}
.luxury-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
button.luxury-btn {
    background-color: #fff;
    border: 1px solid #377b41;
    color: #377b41;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    margin-top: 10px;
}
button.luxury-btn:hover{
    cursor: pointer;
    background-color: #377b41;
    color: #fff;
}
@media(max-width: 1300px) {
    .luxury-profile {
        flex-direction: column;
    }
    .luxury-section{
        width: 100%;
    }
    .all_cards_profile{
        height: 100%;
    }
}
.icon-card-profile{
    color: #fff;
    background-color: #377b41;
    width: 15px;
    height: 15px;
    padding: 7px;
    border-radius: 50%;
}
.luxury-item-div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.luxury-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  font-family: inherit;
  font-size: 14px;
  transition: 0.3s;
}

.luxury-input:focus {
  outline: none;
  border-color: #377b41;
  background: #fff;
  box-shadow: 0 0 0 3px rgba(55, 123, 65, 0.15);
}
.login-msg.error {
    color: red;
    font-weight: 700;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 11px;
}
.login-msg.success {
    color: #008000;
    font-weight: 700;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 11px;
}
.status-msg.error, .status-msg.success{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 25px 0;
}